# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp

# Logs
*.log
npm-debug.log*

# Dependencias (por si luego se añade build)
node_modules/
dist/
build/

# Entorno
.env
.env.local
.env.*.local

# Temporales
*.tmp
*.bak
